---
---

body {
  font-size: 20px;
  font-family: 'URW Din', 'Helvetica Neue', sans-serif;
  margin: 1em;
  min-height: calc(100vh - 2em);
  color: white;
  background-color: black;
}

a {
  color: white;
}
