---
---

body {
  font-size: 20px;
  font-family: 'URW Din', 'Helvetica Neue', sans-serif;
  margin: 1em;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: calc(100vh - 2em);
  color: white;
  background-color: black;
}

a {
  color: white;
}

hr {
  border-style: solid;
  border-width: 1px;
  border-color: #bb0000;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

figure {
  margin: 0;
}

.navigation {

  display: none;

  margin-bottom: 2rem;

  a {
    font-size: 2rem;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    color: white;
  }

  a:not(:last-child)::after {
    display: inline-block;
    content: "";
    width: 1rem;
    height: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
    background: transparent url('/assets/img/maxiuspsych-symbol.svg') no-repeat;
  }

  a.active,
  a:hover,
  a:focus {
    color: #bb0000;
  }
}

@media (min-width: 1200px) {
  .navigation {
    display: block;
  }
}

.boxed {
  max-width: 50rem;
}

.muted {
  color: lightgray;
  font-size: 80%
}

.logo {
  display: block;
  width: 100%;
  max-width: 500px;
  margin-bottom: 2rem;
}

.w-100 {
  width: 100%;
}

.photo-gallery--multi-column {
  column-count: 1;
  column-gap: 10px;
}

@media (min-width: 800px) {
  .photo-gallery--multi-column {
    column-count: 2;
  }
}

@media (min-width: 1200px) {
  .photo-gallery--multi-column {
    column-count: 3;
  }
}

.thumbnail {
  width: 100%;
}

.exergue {
  color: #bb0000;
}

.menu-toggle {
  display: inline-block;
  width: 40px;
  height: 30px;
  // position: absolute;
  // top: 20px;
  // right: 25px;
  cursor: pointer;
}

.one,
.two,
.three{
  width: 100%;
  height: 5px;
  background: white;
  margin: 6px auto;
  backface-visibility: hidden;
}

.mobile-navigation {
  display: none;
}

.mobile-navigation.on {
  display: block;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  background-color: rgba(0,0,0,1);
  position: fixed;
  top: 0;
  left: 0;
}

.mobile-navigation {

  .close {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  nav {
    margin-top: 1rem;
  }

  a {
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
    color: white;
    margin-bottom: .5rem;
  }

  a.active,
  a:hover,
  a:focus {
    font-weight: bold;
    color: #bb0000;
  }
}

.mobile-menu {
  display: block;
  margin-bottom: 2rem;
}

@media (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}
