---
layout: main
---

<p class="boxed">
  <cite>Parce que la nature est l'essence de la vie qu'il faut parfois y retourner pour se rappeler qui nous sommes.</cite>
</p>

<!-- Gallery -->
<div class="photo-gallery photo-gallery--multi-column" itemscope itemtype="http://schema.org/ImageGallery">

  {% for image in site.data.photogalleries.photography.images %}
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <a href="/assets/img/photographies/{{ image.name }}" itemprop="contentUrl" data-size="{{ image.width }}x{{ image.height }}">
        <img src="/assets/img/photographies/thumbnails/{{ image.name }}" itemprop="thumbnail" class="thumbnail" />
      </a>
    </figure>
  {% endfor %}

</div>

{% include photoswipe.html %}
