---
layout: main
---

<main>
  <section class="boxed">
    <a href="/films/" class="muted">← Voir la liste des films</a>

    <h1 style="margin-bottom: 0;">Les Habillés</h1>
    <p style="margin-top: 0;">2017, Maxius Psych</p>
    <video width="100%" poster="/assets/img/films/habilles.jpg" controls>
      <source src="https://static.maxiuspsych.ch/films/LesHabilles_MaxiusPsych_2017.mp4" type="video/mp4">
    </video>
  </section>

  <section class="boxed">
    <p>
      <span class="exergue">Titre du film</span> Les Habillés : ou comment vivre sereinement dans un monde en guerre<br/>
      <span class="exergue">Année</span> 2017<br/>
      <span class="exergue">Genre</span> Drame politique, huis-clos<br/>
      <span class="exergue">Budget du film</span> CHF 2'500.-<br>
      <span class="exergue">Lieu de tournage</span> Théâtre Le Caveau (GE)
    </p>
  </section>

  <section class="boxed">
    <h2>Synopsis</h2>
    <p>
      Dans une salle de crise, Archibald Harrison, représentant du Royaume-Unis, est aux côtés de Michel Dumont, représentant de la France, Varlaam Driomov, représentant de la Russie, Zhao Xiaoping, représentant de la Chine, et Elvin Wright, représentant des États-Unis d'Amérique, pour discuter de la troisième guerre mondiale, actuellement en cours. Entre stratégies, alliances et coups-bas, personne ne trouve de solution pour la paix. C'est alors qu' Elvin Wright annonce qu'il sait comment finir cette guerre: lancer la première bombe nucléaire.
    </p>
  </section>

  <section class="boxed">
    <h2>Casting</h2>
    <p>
      <span class="exergue">Sir Archibald Harrison</span> Olivier Sidore<br/>
      <span class="exergue">Michel Dumont</span> Gilles Thibault<br/>
      <span class="exergue">Elvin Wright</span> Daniel Boesch<br/>
      <span class="exergue">Zhao Xiaoping</span> Pascal Mutzenberg<br/>
      <span class="exergue">Varlaam Driomov</span> Richard Gauteron
    </p>
  </section>

  <section class="boxed">
    <h2>Équipe technique</h2>
    <p>
      <span class="exergue">Réalisatrice - Scénariste</span> Maxius Psych<br>
      <span class="exergue">Premier assistant réalisateur</span> Ferenc Csipke<br>
      <span class="exergue">Scripte</span> Halima Vuille<br>
      <span class="exergue">Chef opérateur</span> Loic Zbinden<br>
      <span class="exergue">Cadreur</span> Loic Zbinden<br>
      <span class="exergue">Première assistante cadre</span> Solange De Blas<br>
      <span class="exergue">Second assistant cadre</span> Juan Fernandez<br>
      <span class="exergue">Electro</span> Jules Haessig<br>
      <span class="exergue">Régisseur général</span> William Mandalaz<br>
      <span class="exergue">Assistant régie</span> Florian Acerbi<br>
      <span class="exergue">Première décoratrice</span> Aileen Potocnik<br>
      <span class="exergue">Seconde décoratrice</span> Marie-Camille Courvoisier<br>
      <span class="exergue">Troisième décoratrice</span> Naomie Perrenoud<br>
      <span class="exergue">Maquilleuse</span> Tiffany Noiset<br>
      <span class="exergue">Coiffeuse</span> Tiffany Noiset<br>
      <span class="exergue">Costumière</span> Diana Matias<br>
      <span class="exergue">Ingénieure du son</span> Paola Zanetti<br>
      <span class="exergue">Assistant son</span> César Dyrberg<br>
      <span class="exergue">Perchman</span> César Dyrberg<br>
      <span class="exergue">Photographe de plateau</span> Donatella Lamorges<br>
      <span class="exergue">Monteuse</span> Maxius Psych<br>
      <span class="exergue">Première étalonneuse</span> Maxius Psych<br>
      <span class="exergue">Second étalonneur</span> Loic Zbinden<br>
      <span class="exergue">Mixeur son</span> César Dyrberg<br>
      <span class="exergue">Musique</span> Anthony Sobral<br>
      <span class="exergue">Making Off</span> Donatella Lamorgese<br>
      <span class="exergue">Remerciements</span> Ecole de Cinéma de Genève, Leila Gruenhagel, Muriel Zanetti, Théâtre du Caveau, Saint-Frusquin, Xénomorphe, Led Lab – Clinique luminaire
    </p>
  </section>

  <section class="boxed">
    <h2>Making-of</h2>

    <video width="100%" poster="/assets/img/films/habilles.jpg" controls>
      <source src="https://static.maxiuspsych.ch/films/LesHabilles_MakingOFF.mp4" type="video/mp4">
    </video>
  </section>

  <section>
    <h2>Photos du tournage</h2>

    <!-- Gallery -->
    <div class="photo-gallery photo-gallery--multi-column" itemscope itemtype="http://schema.org/ImageGallery">

      {% for image in site.data.photogalleries.films.habilles.images %}
        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
          <a href="/assets/img/films/habilles/{{ image.name }}" itemprop="contentUrl" data-size="{{ image.width }}x{{ image.height }}">
            <img src="/assets/img/films/habilles/thumbnails/{{ image.name }}" itemprop="thumbnail" class="thumbnail" />
          </a>
        </figure>
      {% endfor %}

    </div>
  </section>
</main>

{% include photoswipe.html %}
