<!DOCTYPE html>
<html lang="fr-CH" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Maxius Psych - Film director">
    <title>Maxius Psych</title>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#bb0000">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/css/main.css">

    {% if page.url contains '/photographie/' %}
      <link rel="stylesheet" href="/assets/vendors/photoswipe/photoswipe.css">
      <link rel="stylesheet" href="/assets/vendors/photoswipe/default-skin/default-skin.css">
      <script src="/assets/vendors/photoswipe/photoswipe.min.js"></script>
      <script src="/assets/vendors/photoswipe/photoswipe-ui-default.min.js"></script>
    {% endif %}
  </head>
  <body>
    <div class="content">
      <a href="/" class="logo">
        <picture>
          <source
            media="(max-width: 500px)"
            srcset="/assets/img/maxiuspsych-logo.svg"
            type="image/svg+xml">
          <source
            srcset="/assets/img/maxiuspsych-logo--large.svg"
            type="image/svg+xml">

          <img src="/assets/img/maxiuspsych-logo.svg" alt="Maxius Psych's Logo">
        </picture>
      </a>
    </div>

    <nav>
      <a href="/" class="{% if '/' == page.url %}active{% endif %}">NEWS</a>
      <a href="/about" class="{% if '/about/' == page.url %}active{% endif %}">PRÉSENTATION</a>
      <a href="/films" class="{% if page.url contains '/films/' %}active{% endif %}">FILMS</a>
      <a href="/photographie" class="{% if page.url contains '/photographie/' %}active{% endif %}">PHOTOGRAPHIE</a>
      <a href="/contact" class="{% if '/contact/' == page.url %}active{% endif %}">CONTACT</a>
    </nav>

    <main class="content">
      {{ content }}
    </main>
  </body>
</html>
