<!DOCTYPE html>
<html lang="fr-CH" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Maxius Psych - Film director">
    <title>Maxius Psych</title>
    <meta name="description" content="Artiste du psyché, l'âme est mon sujet préféré. Au centre de mes préoccupations, l'Homme et son rapport au monde. Films, photographies, peintures, écritures, tout est bon pour en parler.">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#bb0000">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/css/main.css">

    {% if page.url contains '/photographies/' or page.url contains '/peintures' or page.url contains '/films/les-habilles/' or page.url contains '/films/de-l-autre-cote-de-la-riviere/' %}
      <link rel="stylesheet" href="/assets/vendors/photoswipe/photoswipe.css">
      <link rel="stylesheet" href="/assets/vendors/photoswipe/default-skin/default-skin.css">
      <script src="/assets/vendors/photoswipe/photoswipe.min.js"></script>
      <script src="/assets/vendors/photoswipe/photoswipe-ui-default.min.js"></script>
    {% endif %}
  </head>
  <body>
    <a href="/" class="logo">
      <picture>
        <source
          media="(max-width: 500px)"
          srcset="/assets/img/maxiuspsych-logo.svg"
          type="image/svg+xml">
        <source
          srcset="/assets/img/maxiuspsych-logo--large.svg"
          type="image/svg+xml">

        <img src="/assets/img/maxiuspsych-logo.svg" alt="Maxius Psych's Logo">
      </picture>
    </a>

    <nav class="navigation">
      <a href="/" class="{% if '/' == page.url %}active{% endif %}">NEWS</a>
      <a href="/about" class="{% if '/about/' == page.url %}active{% endif %}">PRÉSENTATION</a>
      <a href="/films" class="{% if page.url contains '/films/' %}active{% endif %}">FILMS</a>
      <a href="/peintures" class="{% if page.url contains '/peintures/' %}active{% endif %}">PEINTURES</a>
      <a href="/photographies" class="{% if page.url contains '/photographies/' %}active{% endif %}">PHOTOGRAPHIES</a>
      <a href="/contact" class="{% if '/contact/' == page.url %}active{% endif %}">CONTACT</a>
    </nav>

    <div class="mobile-menu">
      <div class="menu-toggle">
        <div class="one"></div>
        <div class="two"></div>
        <div class="three"></div>
      </div>
      <span style="margin-left: 1rem; font-size: 2rem;">
        {% if '/' == page.url %}NEWS{% endif %}
        {% if '/about/' == page.url %}PRÉSENTATION{% endif %}
        {% if page.url contains '/films/' %}FILMS{% endif %}
        {% if '/photographies/' == page.url %}PHOTOGRAPHIES{% endif %}
        {% if '/contact/' == page.url %}CONTACT{% endif %}
      </span>
    </div>

    <div class="mobile-navigation">
      <div class="close">
        X
      </div>
      <img src="/assets/img/maxiuspsych-logo.svg" alt="Maxius Psych's Logo" width="100px">
      <nav>
        <a href="/" class="{% if '/' == page.url %}active{% endif %}">NEWS</a>
        <a href="/about" class="{% if '/about/' == page.url %}active{% endif %}">PRÉSENTATION</a>
        <a href="/films" class="{% if page.url contains '/films/' %}active{% endif %}">FILMS</a>
        <a href="/peintures" class="{% if page.url contains '/peintures/' %}active{% endif %}">PEINTURES</a>
        <a href="/photographies" class="{% if page.url contains '/photographies/' %}active{% endif %}">PHOTOGRAPHIES</a>
        <a href="/contact" class="{% if '/contact/' == page.url %}active{% endif %}">CONTACT</a>
      </nav>
    </div>

    <script>
      function toggleClass (el, className) {
        // Toggle class
        if (el.classList) {
          el.classList.toggle(className);
        } else {
          var classes = el.className.split(' ');
          var existingIndex = classes.indexOf(className);

          if (existingIndex >= 0)
            classes.splice(existingIndex, 1);
          else
            classes.push(className);

          el.className = classes.join(' ');
        }
      }

      let menuButton = document.getElementsByClassName('menu-toggle')[0]
      let closeButton = document.getElementsByClassName('close')[0]
      let mobileNavigation = document.getElementsByClassName('mobile-navigation')[0]
      menuButton.addEventListener('click', function () {
        toggleClass(mobileNavigation, 'on')
      })
      closeButton.addEventListener('click', function () {
        toggleClass(mobileNavigation, 'on')
      })
    </script>

    {{ content }}
  </body>
</html>
